<!DOCTYPE html>
<html>
	<head>
		<title>Travelopedia</title>
		
	</head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
	<body style= "background-image: url('https://ak.picdn.net/shutterstock/videos/18051193/thumb/1.jpg'); background-repeat: no-repeat; background-size: cover;">