<!DOCTYPE html>
<html>
	<head><title>Travelopedia</title>
		<link rel="stylesheet" href="landing.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap" rel="stylesheet">

	</head>
	<body>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 offset-lg-2 offset-md-1 float-md-center">
			<div class = "container" >
				<div class ="jumbotron">
					<h1>TRAVELOPEDIA WELCOMES YOU!</h1>
			
					<p>Planning to visit some beautiful travelling sites? </p>
			
					<a class="btn btn-danger btn-lg bg-gradient-danger " href = "/travelsites" >View all Travelling Sites</a>
				</div>
			</div>
		</div>
	</body>
</html>

